libraries/readme.txt
libraries/Adafruit_MQTT_Library/Adafruit_MQTT_Client.cpp
libraries/Adafruit_MQTT_Library/Adafruit_MQTT_Client.h
libraries/Adafruit_MQTT_Library/Adafruit_MQTT_FONA.h
libraries/Adafruit_MQTT_Library/Adafruit_MQTT.cpp
libraries/Adafruit_MQTT_Library/Adafruit_MQTT.h
libraries/Adafruit_MQTT_Library/keywords.txt
libraries/Adafruit_MQTT_Library/library.properties
libraries/Adafruit_MQTT_Library/LICENSE
libraries/Adafruit_MQTT_Library/README.md
libraries/Adafruit_MQTT_Library/examples/adafruitio_anon_time_esp8266/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/adafruitio_anon_time_esp8266/adafruitio_anon_time_esp8266.ino
libraries/Adafruit_MQTT_Library/examples/adafruitio_errors_esp8266/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/adafruitio_errors_esp8266/adafruitio_errors_esp8266.ino
libraries/Adafruit_MQTT_Library/examples/adafruitio_secure_esp8266/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/adafruitio_secure_esp8266/adafruitio_secure_esp8266.ino
libraries/Adafruit_MQTT_Library/examples/adafruitio_time_esp8266/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/adafruitio_time_esp8266/adafruitio_time_esp8266.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_2subs_esp8266/.due.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_2subs_esp8266/.leonardo.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_2subs_esp8266/.uno.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_2subs_esp8266/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_2subs_esp8266/mqtt_2subs_esp8266.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/.due.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/.leonardo.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/.uno.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/mqtt_arbitrary_data.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/README.md
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/python_subscriber/mqtt_figure.png
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/python_subscriber/requirements.txt
libraries/Adafruit_MQTT_Library/examples/mqtt_arbitrary_data/python_subscriber/subscriber.py
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266/.due.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266/.leonardo.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266/.uno.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266/mqtt_esp8266.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266_callback/.esp8266.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266_callback/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_esp8266_callback/mqtt_esp8266_callback.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_ethernet/.due.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_ethernet/.esp8266.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_ethernet/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_ethernet/mqtt_ethernet.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_fona/.due.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_fona/.esp8266.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_fona/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_fona/fonahelper.cpp
libraries/Adafruit_MQTT_Library/examples/mqtt_fona/mqtt_fona.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_winc1500/.esp8266.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_winc1500/mqtt_winc1500.ino
libraries/Adafruit_MQTT_Library/examples/mqtt_yun/.due.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_yun/.esp8266.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_yun/.leonardo.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_yun/.uno.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_yun/.zero.test.skip
libraries/Adafruit_MQTT_Library/examples/mqtt_yun/mqtt_yun.ino
libraries/Adafruit_Unified_Sensor/Adafruit_Sensor.h
libraries/Adafruit_Unified_Sensor/library.properties
libraries/Adafruit_Unified_Sensor/README.md
libraries/Antares_ESP8266_MQTT/keywords.txt
libraries/Antares_ESP8266_MQTT/library.properties
libraries/Antares_ESP8266_MQTT/README.md
libraries/Antares_ESP8266_MQTT/examples/AntaresMQTTPublish/AntaresMQTTPublish.ino
libraries/Antares_ESP8266_MQTT/examples/AntaresMQTTSubscribe/AntaresMQTTSubscribe.ino
libraries/Antares_ESP8266_MQTT/src/AntaresESP8266MQTT.cpp
libraries/Antares_ESP8266_MQTT/src/AntaresESP8266MQTT.h
libraries/Antares_ESP8266_MQTT/src/ArduinoJson.h
libraries/Antares_ESP8266_MQTT/src/ArduinoJson.hpp
libraries/Antares_ESP8266_MQTT/src/PubSubClient.cpp
libraries/Antares_ESP8266_MQTT/src/PubSubClient.h
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Configuration.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/DynamicJsonBuffer.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonArray.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonArrayImpl.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonArraySubscript.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonBuffer.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonBufferBase.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonBufferImpl.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonObject.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonObjectImpl.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonObjectSubscript.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonPair.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonVariant.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonVariantBase.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonVariantCasts.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonVariantComparisons.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonVariantImpl.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonVariantOr.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/JsonVariantSubscripts.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/RawJson.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/StaticJsonBuffer.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/Encoding.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/JsonBufferAllocated.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/JsonFloat.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/JsonInteger.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/JsonVariantAs.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/JsonVariantContent.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/JsonVariantDefault.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/JsonVariantType.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/List.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/ListConstIterator.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/ListIterator.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/ListNode.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/NonCopyable.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/ReferenceType.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Data/ValueSetter.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Deserialization/Comments.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Deserialization/JsonParser.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Deserialization/JsonParserImpl.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Deserialization/StringWriter.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Polyfills/attributes.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Polyfills/ctype.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Polyfills/isFloat.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Polyfills/isInteger.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Polyfills/math.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Polyfills/parseFloat.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Polyfills/parseInteger.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/DummyPrint.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/DynamicStringBuilder.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/FloatParts.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/IndentedPrint.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/JsonPrintable.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/JsonSerializer.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/JsonSerializerImpl.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/JsonWriter.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/Prettyfier.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/StaticStringBuilder.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/Serialization/StreamPrintAdapter.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/StringTraits/ArduinoStream.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/StringTraits/CharPointer.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/StringTraits/FlashString.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/StringTraits/StdStream.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/StringTraits/StdString.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/StringTraits/StringTraits.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/EnableIf.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/FloatTraits.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsArray.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsBaseOf.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsChar.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsConst.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsFloatingPoint.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsIntegral.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsSame.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsSignedIntegral.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsUnsignedIntegral.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/IsVariant.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/RemoveConst.hpp
libraries/Antares_ESP8266_MQTT/src/ArduinoJson/TypeTraits/RemoveReference.hpp
libraries/ArduinoHttpClient/CHANGELOG.md
libraries/ArduinoHttpClient/keywords.txt
libraries/ArduinoHttpClient/library.json
libraries/ArduinoHttpClient/library.properties
libraries/ArduinoHttpClient/README.md
libraries/ArduinoHttpClient/examples/BasicAuthGet/arduino_secrets.h
libraries/ArduinoHttpClient/examples/BasicAuthGet/BasicAuthGet.ino
libraries/ArduinoHttpClient/examples/CustomHeader/arduino_secrets.h
libraries/ArduinoHttpClient/examples/CustomHeader/CustomHeader.ino
libraries/ArduinoHttpClient/examples/DweetGet/arduino_secrets.h
libraries/ArduinoHttpClient/examples/DweetGet/DweetGet.ino
libraries/ArduinoHttpClient/examples/DweetPost/arduino_secrets.h
libraries/ArduinoHttpClient/examples/DweetPost/DweetPost.ino
libraries/ArduinoHttpClient/examples/HueBlink/arduino_secrets.h
libraries/ArduinoHttpClient/examples/HueBlink/HueBlink.ino
libraries/ArduinoHttpClient/examples/PostWithHeaders/arduino_secrets.h
libraries/ArduinoHttpClient/examples/PostWithHeaders/PostWithHeaders.ino
libraries/ArduinoHttpClient/examples/SimpleDelete/arduino_secrets.h
libraries/ArduinoHttpClient/examples/SimpleDelete/SimpleDelete.ino
libraries/ArduinoHttpClient/examples/SimpleGet/arduino_secrets.h
libraries/ArduinoHttpClient/examples/SimpleGet/SimpleGet.ino
libraries/ArduinoHttpClient/examples/SimpleHttpExample/arduino_secrets.h
libraries/ArduinoHttpClient/examples/SimpleHttpExample/SimpleHttpExample.ino
libraries/ArduinoHttpClient/examples/SimplePost/arduino_secrets.h
libraries/ArduinoHttpClient/examples/SimplePost/SimplePost.ino
libraries/ArduinoHttpClient/examples/SimplePut/arduino_secrets.h
libraries/ArduinoHttpClient/examples/SimplePut/SimplePut.ino
libraries/ArduinoHttpClient/examples/SimpleWebSocket/arduino_secrets.h
libraries/ArduinoHttpClient/examples/SimpleWebSocket/SimpleWebSocket.ino
libraries/ArduinoHttpClient/examples/node_test_server/getPostPutDelete.js
libraries/ArduinoHttpClient/examples/node_test_server/package.json
libraries/ArduinoHttpClient/src/ArduinoHttpClient.h
libraries/ArduinoHttpClient/src/b64.cpp
libraries/ArduinoHttpClient/src/b64.h
libraries/ArduinoHttpClient/src/HttpClient.cpp
libraries/ArduinoHttpClient/src/HttpClient.h
libraries/ArduinoHttpClient/src/WebSocketClient.cpp
libraries/ArduinoHttpClient/src/WebSocketClient.h
libraries/ArduinoMqtt/examplesMain.cpp
libraries/ArduinoMqtt/keywords.txt
libraries/ArduinoMqtt/library.json
libraries/ArduinoMqtt/library.properties
libraries/ArduinoMqtt/LICENSE.md
libraries/ArduinoMqtt/platformio.ini
libraries/ArduinoMqtt/README.md
libraries/ArduinoMqtt/examples/ConnectEsp8266WiFiClient/ConnectEsp8266WiFiClient.ino
libraries/ArduinoMqtt/examples/ConnectEthernetClient/ConnectEthernetClient.ino
libraries/ArduinoMqtt/examples/LwtEsp8266WiFiClient/LwtEsp8266WiFiClient.ino
libraries/ArduinoMqtt/examples/PubSub/PubSub.ino
libraries/ArduinoMqtt/extras/examples/x86_Connect.cpp
libraries/ArduinoMqtt/src/MqttClient.h
libraries/ArduinoMqtt/src/MQTTPacket/MQTTConnect.h
libraries/ArduinoMqtt/src/MQTTPacket/MQTTConnectClient.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTConnectServer.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTDeserializePublish.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTFormat.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTFormat.h
libraries/ArduinoMqtt/src/MQTTPacket/MQTTPacket.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTPacket.h
libraries/ArduinoMqtt/src/MQTTPacket/MQTTPublish.h
libraries/ArduinoMqtt/src/MQTTPacket/MQTTSerializePublish.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTSubscribe.h
libraries/ArduinoMqtt/src/MQTTPacket/MQTTSubscribeClient.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTSubscribeServer.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTUnsubscribe.h
libraries/ArduinoMqtt/src/MQTTPacket/MQTTUnsubscribeClient.c
libraries/ArduinoMqtt/src/MQTTPacket/MQTTUnsubscribeServer.c
libraries/ArduinoMqtt/src/MQTTPacket/StackTrace.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/keywords.txt
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/library.properties
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/README.md
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/MqttPub/MqttPub.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/MqttSub/MqttSub.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/RestClient/RestClient.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/RestServer/RestServer.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/Tools/EspRecovery/EspRecovery.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/Tools/ReadMacAddress/ReadMacAddress.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/Tools/Wifi2Serial/Wifi2Serial.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/WebServer/WebServer.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/examples/WebServerBlink/WebServerBlink.ino
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/UnoWiFiDevEd.cpp
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/UnoWiFiDevEd.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/CiaoData.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/crc16.c
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/crc16.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/espduino.cpp
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/espduino.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/FP.cpp
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/FP.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/mqtt.cpp
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/mqtt.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/rest.cpp
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/rest.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/ringbuf.c
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/ringbuf.h
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/SC16IS750.cpp
libraries/Arduino_Uno_WiFi_Dev_Ed_Library/src/lib/SC16IS750.h
libraries/DHT_sensor_library/DHT_U.cpp
libraries/DHT_sensor_library/DHT_U.h
libraries/DHT_sensor_library/DHT.cpp
libraries/DHT_sensor_library/DHT.h
libraries/DHT_sensor_library/keywords.txt
libraries/DHT_sensor_library/library.properties
libraries/DHT_sensor_library/README.md
libraries/DHT_sensor_library/examples/DHT_Unified_Sensor/DHT_Unified_Sensor.ino
libraries/DHT_sensor_library/examples/DHTtester/DHTtester.ino
libraries/IoTtweet/library.properties
libraries/IoTtweet/README.md
libraries/IoTtweet/examples/readme.md
libraries/IoTtweet/examples/ControlMyIoT/ControlMyIoT.ino
libraries/IoTtweet/examples/ControlMyIoT_slider/ControlMyIoT_slider.ino
libraries/IoTtweet/examples/ControlMyIoT_switch/ControlMyIoT_switch.ino
libraries/IoTtweet/examples/DHT_IoTtweet/DHT_IoTtweet.ino
libraries/IoTtweet/examples/WriteToDashboard/WriteToDashboard.ino
libraries/IoTtweet/src/IoTtweet.cpp
libraries/IoTtweet/src/IoTtweet.h
secrets.h
.vscode/c_cpp_properties.json
.vscode/settings.json
